<br><br>
<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Uploaded Documents</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr><td><%= link_to document.name, document_path(document.id) %></td> <td><%= link_to "CSV", document_path(document.id, format: "csv") %> | <%= link_to "XLS", document_path(document.id, format: "xls") %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Upload New Document</div>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <%= form_tag import_addresses_path, multipart: true do %>
            <th><%= file_field_tag :file %></th>
            <th><%= submit_tag "Import" %></th>
          <% end %>
        </tr>
      </thead>
    </table>
  </div>

  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Custom Maps</div>
    <!-- Table -->
    <table class="table">
      <tbody>
        <tr>
          <% @maps.each do |map| %>
            <tr><td><%= link_to map.name, custom_map_path(map.id) %></tr></td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer"><%= link_to "New Custom Map", new_custom_map_path %></div>
  </div>

</div>
