<div class="col-lg-7">
  <br><br>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <% if @map.name %>
      <style type="text/css">
        h3 {
          text-align: center;
        }
      </style>
        <h3><%= @map.name %></h3>

      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Is <%= @document.name %> in <%= @map.name %>?</div>

        <table class="table">
          <thead>
            <tr>
              <th>Address</th>
              <th>In <%= @map.name %>?</th>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
              <tr><td><%= address.text %></td>
                <td><%= Atlas.in_custom_map(@map, address.coordinates.reverse!)%></td></tr>
            <% end %>
          </tbody>
        </table>
        <div class="panel-footer">Download: <%= link_to "CSV", document_path(params[:id], format: "csv") %> | <%= link_to "XLS", document_path(params[:id], format: "xls") %></div>

      </div>

    <% else %>
      <div class="panel-heading"><%= render "edit" %></div>
    <% end %>

</div>

<br><br>

<div class="col-lg-5">
  <div class="container">
    <div style='width: 800px;'>
      <div id="custom_map" style='width: 500px; height: 600px;'></div>
    </div>
  </div>
</div>
