<h2>Upload CSV</h2>

<%= form_tag import_addresses_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import" %>
<% end %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Your Uploaded Addresses</div>
  <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>Address</th>
        <th>Coordinates</th>
        <th>District</th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
        <tr><td><%= address.text %></td> <td><%= address.to_coordinates %></td> <td><%= address.district %></td></tr>
      <% end %>
    </tbody>
  </table>
</div>

<p>
  Download:
  <%= link_to "CSV", addresses_path(format: "csv") %> | <%= link_to "XLS", addresses_path(format: "csv") %>
</p>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= javascript_include_tag "polymap.js" %>
