<%= THIS IS THE INDEX %>

<% @addresses.each do |address| %>
 <%= address.text %> <%= address.to_coordinates %> <strong>District: </strong> <%= address.district %><br>
<% end %>

<br><br>

<p>
  Download:
  <%= link_to "CSV", addresses_path(format: "csv") %> |
</p>

<div id="googft-mapCanvas">
  <%= javascript_include_tag "districtsmap.js" %>
</div>
